.blog-masthead {
	background-color: #e6e6e6;
	-webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
	box-shadow: inset 0 -2px 5px rgba(0, 0, 0, .1);
}

.blog-nav .active {
	color: #fff;
}

.depl_haut {
	margin-top: 5px;
	margin-left: 25px
}

#distance {
	margin-top: 15px;
	margin-left: 10px;
}

#dist {
	height: 35px;
	width: 200px;
}

#search_bar {
	margin-top: 5px;
}

#top_button {
	margin-top: 5px;
}

#maps {
	margin-top: 25px;
}

.col-sm-5 {
	font-size: 17px;
	font-family: Gill Sans, sans-serif;
}

.parent {
	display: flex;
}

.enfant {
	margin: auto;
}

#top_check_box1 {
	margin-top: 10px;
	margin-left: 10px;
}

#top_check_box2 {
	margin-top: 5px;
	margin-left: 10px;
}

#container1 {
	margin-left: 5px;
}

#se {
	border: 1px solid #ddd;
	max-height: 700px;
	overflow-y: auto;
}

.stars {
	overflow: hidden;
	margin-left: 10px;
}

.aligncenter, div.aligncenter {
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.ui-stars-star-disabled, .ui-stars-star-disabled a,
	.ui-stars-cancel-disabled a {
	cursor: default !important;
}

.ui-stars-star, .ui-stars-cancel {
	float: left;
	display: block;
	overflow: hidden;
	text-indent: -999em;
	cursor: pointer;
}

#donner_note {
	color: #333;
	font-size: 25px;
	font-weight: bold;
	margin-top: 35px;
	margin-left: 20px;
	font-family: "New Century Schoolbook", serif;
}

#moyenne {
	color: #333;
	margin-top: 15px;
	font-size: 25px;
	font-weight: bold;
	font-family: "New Century Schoolbook", serif;
}

.erreur_topbar { 
    background: #EF4836; 
    border-bottom: solid 2px #EEE; 
    padding: 5px 0; 
    text-align: center; 
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

.ok_topbar { 
    background: #14b84e; 
    border-bottom: solid 2px #EEE; 
    padding: 5px 0; 
    text-align: center; 
    font-weight: bold;
    color: white;
    font-size: 1.2em;
}

/* Comment object */
.thumbnail {
    padding:0px;
}
.panel {
    position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
  position:absolute;
  top:11px;left:-16px;
  right:100%;
  width:0;
  height:0;
  display:block;
  content:" ";
  border-color:transparent;
  border-style:solid solid outset;
  pointer-events:none;
}
.panel>.panel-heading:after{
  border-width:7px;
  border-right-color:#f7f7f7;
  margin-top:1px;
  margin-left:2px;
}
.panel>.panel-heading:before{
  border-right-color:#ddd;
  border-width:8px;
}
